@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    background-color: transparent;
    background-image: url("assets/Maanlandingfake.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
}

nav a img{
    width: 7rem;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
/* Header */


/* Hero*/
.hero {
    height: fit-content;
    display: flex;
    align-items: center;
}

.hero .intro {
    color: #ffe9e9;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top: 20rem;
    width: 100%;
}
.hero .intro h1 {
    font-size: 30pt;
}
.hero .intro h1 span {
    color: #f5b1fc;
}

.hero .intro h2 {
    color: #f471ff;
}
.hero .intro p {
    font-size: 7pt;
    text-align: left;
    color: #ecebeb;
    margin-top: 1rem;
}
.hero .intro button {
    padding: 1rem 2rem;
    background-color: rgba(241, 150, 248, 0.65);
    color: #ffffff;
    border-radius: 30px;
    border: #f196f8 2px solid;
    margin-top: 4rem;
}
.hero .intro button:hover {
    box-shadow: 0 0 30px 5px rgba(241, 150, 248, 0.35);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: rgba(241, 150, 248, 0.94);
    cursor: pointer;
}

@media (max-width: 920px) {
    .hero .intro {
        margin: 10rem auto;
        padding: 2rem;
    }
}

/* cards */


.card {
    width: 80%;
    height: 400px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
}

.card a {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    background: #212121;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.card a:hover {
    flex: 2;
}

.card a span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width: 920px) {
    .card a span {
        font-size: 15px;
    }
}

.card a:hover span {
    transform: rotate(0);
}
.card #hover1 {
    background-image: url("assets/ux.png");
    background-position: bottom;
    background-size: cover;
}

.card #hover2 {
    background-image: url("assets/coding.png");
    background-position: bottom;
    background-size: cover;
}

.card #hover3 {
    background-image: url("assets/NYraffeShadowUpdate.png");
    background-position: bottom;
    background-size: cover;
}


/* current projects */

.mid h1 {
    text-align: center;
    color: white;
    margin: 3rem auto;
    padding-top: 2rem;
}
/* footer */

footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}
