@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body {
    background-color: #fff6f6;
}
nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
}

nav a img{
    width: 7rem;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
/* Header */


/* Hero*/
.hero {
    height: 800px;
    display: flex;
    align-items: center;
    background-image: url("assets/hero2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero .intro{
    color: #ffe9e9;
    margin-left: 11rem;
}
.hero .intro h1 {
    font-size: 30pt;
}
.hero .intro h1 span {
    color: #f5b1fc;
}

.hero .intro h2 {
    color: #f471ff;
}
.hero .intro p {
    font-size: 7pt;
    text-align: left;
    color: #ecebeb;
    margin-top: 1rem;
}
.hero .intro button {
    padding: 1rem 2rem;
    background-color: rgba(241, 150, 248, 0.27);
    color: #ffffff;
    border-radius: 30px;
    border: #f196f8 2px solid;
    margin-top: 4rem;
}
.hero .intro button:hover {
    box-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    background-color: rgba(241, 150, 248, 0.77);
}
.hero .intro .button2 {
    margin-left: 2rem;
    background-color: rgba(249, 189, 253, 0.43);
    border:#f9bdfd 2px solid;
}
.hero .intro .button2:hover {
    box-shadow: 2px 4px 4px rgb(89, 255, 112);
    transition: 0.5s cubic-bezier(1.55, 0.265, -0.55, 0.58);
    cursor: pointer;
    background-color: rgba(249, 189, 253, 0.88);
}

@media (max-width: 920px) {
    .hero .intro {
        margin: 0 auto;
        padding: 2rem;
    }
}

/* Cards*/

.topcards {
    margin: 15rem auto;
    margin-bottom: 5rem;
    text-align: center;
    width: 50%;
}
.topcards h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 50pt;
}

.topcards p {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 10pt;
}



.card {
    width: 70%;
    height: 500px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p:hover {
    flex: 2;
}

.card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.card p:hover span {
    transform: rotate(0);
}
.card #hover1 {
    background-image: url("assets/create-hero.png");
    background-size: cover;
}

.card #hover2 {
    background-image: url("assets/visualisehero.png");
    background-size: cover;
}

.card #hover3 {
    background-image: url("assets/improvehero.png");
    background-size: cover;
}

/* subcard */




/* colorpallet */

.colorpallet article {
    display: inline-block;
    margin-right: 1rem;
}

.colorpallet {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

#boxa {
    background-color: #faefef;
    width: 3.5rem;
    height: 10rem;
}
#boxa:hover {
    height: 11rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#boxb {
    background-color: #FF8FF1;
    width: 3.5rem;
    height: 13rem;
}
#boxb:hover {
    height: 14rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#boxc {
    background-color: #C898FF;
    width: 3.5rem;
    height: 19rem;
}

#boxd {
    background-color: #A49FFF;
    width: 3.5rem;
    height: 16rem;
}
#boxd:hover {
    height: 17rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#boxe {
    background-color: #A1FFA1;
    width: 3.5rem;
    height: 7rem;
}
#boxe:hover {
    height: 8rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (max-width: 1000px) {
    #box2 {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    #box3 {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .colorpallet {
        display: none;
    }
}





/* footer */

footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}




