* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
body {
    background-image: url("assets/cod.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
}

nav a img{
    width: 7rem;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav a i {
    text-decoration: none;
    color: white;
    font-size: 19pt;
}
nav a i.active,
nav a i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgba(179, 180, 180, 0.29);
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgba(179, 180, 180, 0.29);
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
/* Header */

/* Hero*/
.hero {
    height: 800px;
    display: flex;
    align-items: center;
    text-align: right;
}

.hero .intro{
    color: #ffe9e9;
    width: 90%;
}
.hero .intro h1 {
    font-size: 70pt;
}
.hero .intro h1 span {
    color: #f5b1fc;
}

.hero .intro h2 {
    color: #f471ff;
}
.hero .intro p {
    font-size: 9pt;
    color: #ecebeb;
    margin-top: 1rem;
}
.hero .intro button {
    padding: 1rem 2rem;
    background-color: rgba(241, 150, 248, 0.27);
    color: #ffffff;
    border-radius: 30px;
    border: #f196f8 2px solid;
    margin-top: 4rem;
}
.hero .intro button:hover {
    box-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    background-color: rgba(241, 150, 248, 0.77);
}
.hero .intro .button2 {
    margin-left: 2rem;
    background-color: rgba(249, 189, 253, 0.43);
    border:#f9bdfd 2px solid;
}
.hero .intro .button2:hover {
    box-shadow: 2px 4px 4px rgb(89, 255, 112);
    transition: 0.5s cubic-bezier(1.55, 0.265, -0.55, 0.58);
    cursor: pointer;
    background-color: rgba(249, 189, 253, 0.88);
}

.inhoud {
    background-color: white;
    padding: 5rem;
}
.inhoud .row {
    margin-top: 4rem auto;
}
.inhoud h1 {
    font-family: Palatino, sans-serif;
    margin-bottom: 1rem;
}
.inhoud p {
    color: #595858;
}
.inhoud img {
    width: 70%;
}
.pic1 {
    text-align: right;
}
.pic2 {
    text-align: left;
}



@media (max-width: 920px) {
    .hero .intro {
        margin: 0 auto;
        padding: 2rem;
    }
    .pic1 {
        text-align: center;
        margin-top: 3rem;
    }
    .pic2 {
        text-align: center;
        margin-bottom: 3rem;
    }
}

footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}


hr {
    width: 40%;
    margin: 8rem auto;
}