* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

header img {
    width: 80px;
    position: absolute;
    left: 15px;
    top: 15px;
}

header nav {
    width: 1200px;
    margin: 0 auto;
    font-size: 9pt;
    display: flex;
    justify-content: center;

}

header nav ul {

    align-content: center;
    list-style-type: none;
    display: flex;
}

header nav ul li p {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 30px 20px 0 20px;
    padding: 1rem;
    font-weight: 300;
    color: #394D53;
    font-size: 14px;
}




footer {
    text-align: center;
    background-color: #A49FFF;
    margin-top: 10rem;
    color: #ffffff;
    height: 250px;
}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #f196f8;
    font-weight: 800;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#hero {
    background-image: url("assets/hero.jpg");
    background-size: cover;
    background-position: top;
    height: 550px;
    margin: 0 146px;
}

#hero__titel {
    text-align: center;
    font-size: 80px;
    color: #FF8FF1;
    font-family: Cormorant, serif;
    font-weight: 700;
}

#hero__sub {
    margin: 360px 20px 10px 30px;
    color: #ffffff;
    font-size: 28px;
}

#hero__sub__name {
    border: solid #fff 2px;
    border-radius: 10px;
}

#hero__subtitel {
    text-align: right;
    margin: 0 7rem;
    color: #fff;
    font-size: 10pt;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#hero__under p {
    text-align: center;
    margin-top: 50px;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

main {
    margin-top: 30px;
}

.howhelp {
    height: 40rem;
    background-image: url("assets/uncommon.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.vraag {
    margin-top: 100px;
    font-size: 5rem;
    color: #394D53;
    font-weight: 900;
    text-align: center;
    line-height: 0.35;
    padding-top: 15rem;
}

.vraagspiegel {
    transform: rotateX(180deg);
    color: #f196f8;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}

.howhelp p {
    font-family: Lato, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    padding-top: 17rem;
}

.howhelp p a {
    color: #A49FFF;
}

.howhelp img {
    width: 70px;
}

#c1 {
    position: relative;
    left: 2rem;
    bottom: 40rem;
}

#c2 {
    position: relative;
    right: 2.5rem;
    bottom: 29rem;
}

#c3 {
    position: relative;
    right: 7rem;
    bottom: 18rem;
}

#c4 {
    position: relative;
    right: 11.5rem;
    bottom: 7rem;
}

#l1 {
    position: relative;
    left: 65rem;
    bottom: 48rem;
}

#l2 {
    position: relative;
    left: 62.47rem;
    bottom: 45.85rem;
    transform: rotate(90deg);
}

#l3 {
    position: relative;
    left: 56rem;

}

#l4 {
    position: relative;
    left: 53.47rem;
    transform: rotate(90deg);
    bottom: 2.3rem;
}

.create {
    margin-top: 20rem;
    height: 40rem;
}

.container-fluid {
    max-width: 1920px;
}

#createlinks {
    background-color: #A49FFF;
}

#createrechts {
    padding: 16rem 0 16rem 0;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #f196f8;
    border: none;
    border-radius: 37px;
    padding: 1.5rem 5rem;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 3rem;
}

button:hover {
    border-radius: 40px;
    padding: 1.5rem 5.5rem;
    font-weight: 300;
    background-color: #59ff70;
    cursor: pointer;
}

.create h1{
    font-family: "Utopia Std";
    font-size: 85pt;
    color: #A49FFF;
}

.create p {
    font-family: Lato, sans-serif;
    font-size: 10pt;
    font-weight: 300;
}