* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

header img {
    width: 80px;
    position: absolute;
    left: 15px;
    top: 15px;
}

header nav {
    margin: 0 auto;
    font-size: 9pt;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li p {
    display: inline-block;
    text-decoration: none;
    margin: 30px 20px 0 20px;
    padding: 1rem;
    font-weight: 300;
    color: #394D53;
    font-size: 14px;
}
footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #f196f8;
    font-weight: 800;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #ffffff;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }
    header nav ul li p {
        margin: 20px 10px 0 10px;

    }
}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    header img {
        visibility: hidden;
    }
}

main {
    margin-top: 30px;
}

main #contact h1 {
    font-family: "Utopia Std", sans-serif;
    font-size: 85pt;
    color: #A49FFF;
}

main #contact__side {
    font-family: Lato, sans-serif;
    font-weight: 300;

}

main #contactside u a {
    color: #A49FFF;
}

main #form label, #side label {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

main #form input {
    margin-bottom: 10px;
    width: 300px;
    height: 2rem;
    border-radius: 15px;
    border: #000 1px solid;
    padding: 1rem;
}



main #side textarea {
    width: 500px;
    height: 200px;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px;
}

main #side input {
    width: 5rem;
    margin: 1rem 1rem 0 0;
    background-color: #f196f8;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    padding: 5px 10px 5px 10px;
}

main #side #send {
    background-color: #A1FFA1;
    color: #6c757d;
}

main #side input:hover {
    background-color: #A49FFF;

}
main #side #send:hover {
    background-color: #A49FFF;
    color: #ffffff;
}
main  form {
    margin-bottom: 3rem;
}
@media screen and (max-width: 900px) {
    #contactside {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    main #contact h1 {
        font-size: 50pt;
    }
    main #side textarea {
        width: 350px;
    }
}