* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
nav{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: absolute;
}

nav a img{
    width: 7rem;
}

@media screen and (max-width:600px) {
    nav h1{
        font-size: 23px;
    }
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin-right: 4rem;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    color: #f196f8;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
nav .menu-btn i:hover{
    color: #f196f8;
    text-shadow: 2px 4px 4px rgb(107, 107, 215);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 1000px){
    nav{
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
        font-size: 30px;
    }
    nav {
        background-color: rgba(17, 17, 17, 0.9);
        height: 6rem;
        position: fixed;
        top: 0;
    }
    nav a img {
        width: 5rem;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 96px;
        left: -100%;
        background: rgba(17, 17, 17, 0.9);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 30px;
        transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #f196f8;
    }
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}
.content div{
    font-size: 40px;
    font-weight: 700;
}
footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;

}

footer a {
    color: #ffffff;
}

#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}

footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}

footer a i {
    font-size: 50px;
    margin: 0 10px;
}

footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}


#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #ffffff;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }
}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}


.hero {
    padding-top: 250px;
    display: flex;
    align-items: center;
    background-image: url("assets/proj.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 470px;
}

.hero .intro{
    color: #faf4f4;
    margin-left: 11rem;
}
.hero .intro h1 {
    padding-top: 4rem;
    font-size: 70pt;
}


@media (max-width: 920px) {
    .hero .intro {
        margin: 0 auto;
        padding: 2rem;
    }
}
hr {
    width: 40%;
    margin: 0 auto;
}
main {
    background-color: #f8f8ff;
    padding-bottom: 5rem;
}
main article {
    color: #1f1f1f;
}
.mid h1 {
    font-family: "Utopia Std", sans-serif;
    font-size: 70pt;
    color: #ffffff;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 2rem;
    margin-top: 2rem;

}

.mid #here {
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 200;
}

.mid img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 30px 5px rgba(192, 199, 250, 0.32);
}

.mid img:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 5px rgba(241, 150, 248, 0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.mid p {
    padding: 2rem 2rem 2rem 0;
    font-size: 10pt;
    color: #706f6f;

}
.mid h2 {
    font-family: Palatino, sans-serif;
    font-size: 30pt;
    font-weight: 700;
}

.mid {
    margin: 5rem auto;
    width: 80%;

}

.mid .row {
    margin: 5rem 0 5rem 0;
}

.hero p {
    margin: 3rem;
}

#opdracht {
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #f196f8;
    margin-top: 2rem;
    border: none;
    border-radius: 25px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 9pt;
    width: 100px;
    height: 30px;

}

button:hover {
    background-color: #59ff70;
    cursor: pointer;
}


