* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
header img {
    width: 80px;
    position: absolute;
    left: 15px;
    top: 15px;
}
header nav {
    margin: 0 auto;
    font-size: 9pt;
    display: flex;
    justify-content: center;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header nav ul li p {
    display: inline-block;
    text-decoration: none;
    margin: 30px 20px 0 20px;
    padding: 1rem;
    font-weight: 300;
    color: #394D53;
    font-size: 14px;
}
footer {
    text-align: center;
    background-color: #A49FFF;
    color: #ffffff;
    height: 250px;
}
footer a {
    color: #ffffff;
}
#footer__mid p {
    font-size: 40px;
    font-family: Cormorant, serif;
    font-weight: 700;
}
footer p {
    font-weight: 700;
    font-family: Cormorant, serif;
}
footer a i {
    font-size: 50px;
    margin: 0 10px;
}
footer p i {
    font-size: 15pt;
    margin-right: 10px;
    box-shadow: #000000 ;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 160px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: #f196f8;
    font-weight: 800;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #ffffff;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #FF8FF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }
    header nav ul li p {
        margin: 20px 10px 0 10px;
    }
}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    header img {
        visibility: hidden;
    }
}

/*Algemene stijl*/

/*stijl home => */
#hero {
    background-image: url("assets/hero.jpg");
    background-size: cover;
    background-position: top;
    width: 1170px;
    height: 570px;
    margin: 0 auto;
}

#hero__titel {
    text-align: center;
    font-size: 80px;
    color: #FF8FF1;
    font-family: Cormorant, serif;
    font-weight: 700;
}

#hero__sub {
    margin-top: 380px;
    color: #ffffff;
    font-size: 24px;
}


#hero__subtitel {
    color: #fff;
    font-size: 10pt;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#hero__under p {
    text-align: center;
    margin-top: 2rem;
    font-family: Lato, sans-serif;
    font-weight: 300;
}
#hero__sub__function {
    text-align: right;
}

#main_home {
    margin-top: 30px;
}

.howhelp {
    height: 40rem;
    background-image: url("assets/uncommon2.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.vraag {
    margin-top: 100px;
    font-size: 40pt;
    color: #394D53;
    font-weight: 900;
    text-align: center;
    line-height: 0.35;
    padding-top: 15rem;
}

.vraagspiegel {
    transform: rotateX(180deg);
    color: #f196f8;
    text-align: center;
    font-size: 40pt;
    font-weight: 900;
}

.howhelp p {
    font-family: Lato, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    padding-top: 17rem;
}

.howhelp p a {
    color: #A49FFF;
}

.howhelp img {
    width: 70px;
}

#c1 {
    position: relative;
    left: 2rem;
    bottom: 40rem;
}

#c2 {
    position: relative;
    right: 2.5rem;
    bottom: 29rem;
}

#c3 {
    position: relative;
    right: 7rem;
    bottom: 18rem;
}

#c4 {
    position: relative;
    right: 11.5rem;
    bottom: 7rem;
}

#l1 {
    position: relative;
    left: 65rem;
    bottom: 48rem;
}

#l2 {
    position: relative;
    left: 62.47rem;
    bottom: 45.85rem;
    transform: rotate(90deg);
}

#l3 {
    position: relative;
    left: 56rem;

}

#l4 {
    position: relative;
    left: 53.47rem;
    transform: rotate(90deg);
    bottom: 2.3rem;
}

.create {
    margin-top: 20rem;
    height: 40rem;
}

.container-fluid {
    max-width: 1920px;
}

#createlinks {
    background-color: #A49FFF;
}

#createrechts {
    padding: 15.5rem 0 15.5rem 0;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #f196f8;
    border: none;
    border-radius: 37px;
    padding: 1.5rem 5rem;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 3rem;
}

button:hover {
    border-radius: 40px;
    padding: 1.5rem 5.5rem;
    font-weight: 300;
    background-color: #59ff70;
    cursor: pointer;
}

.create h1{
    font-family: "Utopia Std", sans-serif;
    font-size: 85pt;
    color: #A49FFF;
}

.create p {
    font-family: Lato, sans-serif;
    font-size: 10pt;
    font-weight: 300;
}

.create article {
    width: 50px;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    display: inline-block;

}

#box1 {
    left: 17rem;
}

#box2 {
    left: 27rem;
}

#box3 {
    left: 33rem;
}

.visualize {
    margin-top: 20rem;
}
.visualize {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

#vis1 {
    background-color: #A49FFF;
    height: 16.5rem;
}

#visb {
    background-color: #A49FFF;
    height: 16.5rem;
}

#vis3 {
    background-color: #A49FFF;
    height: 16.5rem;
}

#visa {
    text-align: center;
    padding-top: 5.5rem;

}

#visc {
    text-align: center;
    padding-top: 4rem;
}

.visualize #vis2 h1 {
    text-align: right;
    padding-top: 4rem;
    font-family: "Utopia Std", sans-serif;
    font-size: 85pt;
    color: #A49FFF;
    position: relative;
    left: 0.7rem;
}

.visualize #visb h1 {
    text-align: left;
    padding-top: 4rem;
    font-family: "Utopia Std", sans-serif;
    font-size: 85pt;
    color: #ffffff;
    position: relative;
    right: 0.7rem;
}

.improve {
    background-image: url("assets/improve.png");
    height: 1500px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50rem;
    margin-top: 15rem;
}

.programs img {
    display: inline-block;
    width: 3rem;
    margin: 1rem;
}

.programs {
    background-color: rgba(164, 159, 255, 0.5);
    height: 10rem;
    margin-top: 10rem;
}

.programs h3 {
    font-family: Lato, sans-serif;
    font-size: 12pt;
    padding: 2rem 0 1rem 1rem;
}

.colorpallet article {
    display: inline-block;
    margin-right: 1rem;
}

.colorpallet {
    text-align: center;
    margin-top: 13rem;
}

#boxa {
    background-color: #F9F9F9;
    width: 3.5rem;
    height: 10rem;
}

#boxb {
    background-color: #FF8FF1;
    width: 3.5rem;
    height: 13rem;
}

#boxc {
    background-color: #C898FF;
    width: 3.5rem;
    height: 19rem;
}

#boxd {
    background-color: #A49FFF;
    width: 3.5rem;
    height: 16rem;
}

#boxe {
    background-color: #A1FFA1;
    width: 3.5rem;
    height: 7rem;
}

@media screen and (max-width: 400px) {
    #hero h1 {
        font-size: 60px;
    }
    .programs {
        height: fit-content;
    }
}
@media screen and (max-width: 600px) {
    header img {
        display: none;
    }
    #hero {
        width: 100%;
    }
    #hero__titel {
        font-size: 70px;
    }
    #hero__sub {
        margin-top: 250px;
        font-size: 18px;
    }
}
@media screen and (max-width: 651px) {
    .vraagspiegel {
        display: none;
    }
    .vraag {
        line-height: 1;
    }
}
@media screen and (max-width: 882px) {
    #hero__sub {
        margin-top: 270px;
        text-align: center;
        font-size: 45px;
    }
    #hero__sub__function {
        display: none;
    }
    #hero__subtitel {
        display: none;
    }
    #terugnaarboven {
        display: none;
    }
    #c1, #c2, #c3, #c4 {
        display: none;
    }
    .improve {
        height: 1000px;
        padding-top: 30rem;
    }
    header nav ul li p {
        margin: 20px 10px 0 10px;

    }
}

@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}
@media screen and (max-width: 664px) {
    #createlinks {
        display: none;
    }
    .create {
        margin-top: 2rem;
    }
    #createrechts {
        margin: 1rem auto;
        width: 100%;
        height: 30rem;
    }
    #createrechts button {
        font-size: 12pt;
        padding: 1rem 3rem;
    }
    .visualize {
        margin-top: 4rem;
    }
    .visualize button {
        font-size: 12pt;
        padding: 1rem 3rem;
    }
    .improve {
        margin-top: 3rem;
        padding-top: 15rem;
        height: 600px;
    }
    .improve button {
        font-size: 12pt;
        padding: 1rem 3rem;
    }
    .visualize #vis2 h1 {
        font-size: 60pt;
        padding-top: 5.5rem;
    }
    .visualize #visb h1 {
        font-size: 60pt;
        padding-top: 5.5rem;
    }
    .colorpallet {
        margin-top: 0;
    }
}
@media screen and (max-width: 700px) {
    #createrechts h1 {
        font-size: 50pt;
    }
}
@media screen and (max-width: 1000px) {
    #box2 {
        display: none;
    }
    #createrechts h1 {
        font-size: 75pt;
    }
}
@media screen and (max-width: 1200px) {
    #hero {
        width: 100%;
    }
    .vraag, .vraagspiegel {
        font-size: 30pt;
    }
    .howhelp {
        background-size: 500px;
    }
    #box3 {
        display: none;
    }
}
@media screen and (max-width: 1400px) {
    #l1, #l2, #l3, #l4 {
        display: none;
    }
}

/* stijl bio =>                                                    <============================ */

#main_bio img {
    width: 100%;
}

#main_bio p {
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
}

#main_bio h2 {
    font-family: "Bungee regular", sans-serif;
    color: #A49FFF;
    margin-bottom: 1rem;

}

#slot p {
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
    text-align: center;
}

#slot {
    margin: 20rem 0 20rem 0;
}

#cvpic {
    width: 100%;
    border-radius: 50%;
}

#midsection {
    margin: 6rem;
}

#midsection hr {
    margin-top: 8.5rem;
    border: solid 1px #A49FFF;
}

@media screen and (max-width: 1200px) {
    #midsection {
        display: none;
    }
}


/* stijl cv =>                                                    <============================ */

#main_cv article {
    text-align: center;
    margin: 30px auto;
    padding: 200px ;
}

#main_cv article h1 {
    font-family: "Utopia Std", sans-serif;
    font-size: 75pt;
}

#main_cv article h2 {
    font-family: "Utopia Std", sans-serif;
    font-size: 20pt;
    color: #A49FFF;
    margin: 20px auto;
}

#main_cv article button {
    color: #ffffff;
    background-color: #f196f8;
    border: none;
    border-radius: 37px;
    padding: 1.5rem 6rem;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 12pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}
#main_cv article button:hover {
    border-radius: 40px;
    padding: 1.5rem 6.5rem;
    font-weight: 500;
    font-size: 12pt;
    cursor: pointer;
    background-color: #A1FFA1;

}

#im {
    width: 100%;

}

#head {
    width: 620px;

}



#pic {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #A49FFF;
    font-family: Lato, sans-serif;
    font-size: 20pt;
    font-weight: 500;
}

#subpic p {
    font-family: Lato, sans-serif;
    font-size: 14pt;
    padding-top: 2rem;
}

#head i {
    color: #A49FFF;
}
.info {
    width: 100%;
}

#quote {
    width: 550px;
    text-align: center;
    margin-top: 9rem;
    font-family: Lato, sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 2;
}

#sum {
    width: 900px;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

#main {

    margin-top: 15rem;
}

#mainlist {
    list-style-type: disc;
    padding-left: 1rem;
}

#exp {
    list-style-type: disc;
    padding-left: 1rem;
}

#hob {
    list-style-type: disc;
    padding-left: 1rem;
}

#main2 {
    margin-top: 5rem;
}

#main3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#sum h3 {
    font-size: 14pt;
    padding-bottom: 2rem;
    color: #A49FFF;
}

#taal {
    padding-left: 2rem;
    list-style-type: none;
}

@media screen and (max-width: 900px) {
    #main_cv div {
        width: 100%;
    }
    #main_cv article {
        width: 100%;
        margin: 0;
        padding: 200px 0;
    }
    #main_cv article h1 {
        font-size: 70px;
    }
    #head {
        width: 100%;
    }
    #quote {
        width: 100%;
    }
    #sum {
        width: 100%;
    }
}

@media screen and (max-width: 882px) {
    #subpic p {
        font-size: 9pt;
    }
}

@media screen and (max-width: 400px) {
    #main_cv article h1 {
        font-size: 60px;
    }
    #subpic p {
        font-size: 7pt;
    }
}

/* stijl create =>                                                    <============================ */

#main_create h1 {
    font-family: "Utopia Std", sans-serif;
    font-size: 90pt;
    color: #ffffff;
    line-height: 1;
}
.hero {
    max-width: 1920px;
    margin-top: 30px;
}
#main_create article {
    background-image: url("assets/create-hero.png");
    background-size: cover;
    background-position: top;
}
#create1 {
    color: #A49FFF;
    margin-left: 2rem;
}

#create2 {
    margin-left: 10rem;
}

#create3 {
    margin-left: 18rem;
}
#create4 {
    margin-left: 26rem;
}
#create5 {
    margin-left: 32rem;
}
#create6 {
    margin-left: 40rem;
}

.driehoekdown {
    width: 100px;
    position: absolute;
    right: 2rem;
    top: 8.5rem
}

.driehoekup {
    width: 100px;
    position: absolute;
    right: 2rem;
    top: 40rem
}
.linegreen {
    width: 170px;
    position: absolute;
    left: 2rem;
    top: 45rem;
}

.linepaars {
    width: 170px;
    position: absolute;
    left: 2rem;
    top: 48rem;
}

.box img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    margin: 0.5rem;

}
.box img:hover {
    opacity: 50%;
    cursor: pointer;
}


#inhoud {
    width: 100%;
    margin: 4rem auto;
}

@media screen and (max-width: 850px) {
    #create4, #create5, #create6, .driehoekup, .linegreen, .linepaars {
        display: none;
    }
    .box img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 450px) {
    .driehoekdown {
        display: none;
    }
    #create1, #create2, #create3 {
        font-size: 60pt;
        margin-left: 2rem;
    }
    .hero {
        height: 15rem;
    }
    .box img {
        width: 100px;
        height: 100px;
    }
}

/* stijl visualise =>                                                    <============================ */